[Desktop Entry]
Version=1.0
Type=Application
Name=ArcoLinux Conkyzen
Name[ar]=ArcoLinux Conkyzen
Name[ast]=ArcoLinux Conkyzen
Name[bg]=ArcoLinux Conkyzen
Name[da]=ArcoLinux Conkyzen
Name[el]=ArcoLinux Conkyzen
Name[en_AU]=ArcoLinux Conkyzen
Name[en_GB]=ArcoLinux Conkyzen
Name[eu]=ArcoLinux Conkyzen
Name[fi]=ArcoLinux Conkyzen
Name[fr]=ArcoLinux Conkyzen
Name[gl]=ArcoLinux Conkyzen
Name[he]=ArcoLinux Conkyzen
Name[hr]=ArcoLinux Conkyzen
Name[hu]=ArcoLinux Conkyzen
Name[id]=ArcoLinux Conkyzen
Name[it]=ArcoLinux Conkyzen
Name[ja]=ArcoLinux Conkyzen
Name[kk]=ArcoLinux Conkyzen
Name[ko]=ArcoLinux Conkyzen
Name[lt]=ArcoLinux Conkyzen
Name[ms]=ArcoLinux Conkyzen
Name[nb]=ArcoLinux Conkyzen
Name[nl]=ArcoLinux Conkyzen
Name[oc]=ArcoLinux Conkyzen
Name[pt]=ArcoLinux Conkyzen
Name[pt_BR]=ArcoLinux Conkyzen
Name[ru]=ArcoLinux Conkyzen
Name[sk]=ArcoLinux Conkyzen
Name[sl]=ArcoLinux Conkyzen
Name[sv]=ArcoLinux Conkyzen
Name[tr]=ArcoLinux Conkyzen
Name[ug]=ArcoLinux Conkyzen
Name[vi]=ArcoLinux Conkyzen
Name[zh_CN]=ArcoLinux Conkyzen
Name[zh_TW]=ArcoLinux Conkyzen
Comment=Select your conky
TryExec=am-conkyzen
Exec=am-conkyzen
Icon=conky
Categories=GTK;Utility;TrayIcon;XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=false
